<h1>Itens disponíveis:</h1>
<div class="books-container">
    <div class="livro-folha">
      {{#each books}}
      <div>#{{this.id}} - <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span> - {{this.pageqty}}
        páginas</div>
      {{/each}}
    </div>
  
</div>