<h1>Edite o seu registro:</h1>
<form class="form" action="/books/updatebook" method="POST">
  <input type="hidden" name="id" value="{{book.id}}">
  <div class="form-control">
    <label for="item">Nome:</label>
    <input type="text" name="item" placeholder="Título do livro">
  </div>
  <div class="form-control">
    <label for="quantPorPack">Uniudades:</label>
    <input type="number" name="quantPorPack" placeholder="Quantas unidade?">
  </div>
  <div class="form-control">
    <label for="packs">Quantidade de packs:</label>
    <input type="number" name="packs" placeholder="Quantas páginas o livro tem?">
  </div>
  <input type="submit" value="Editar" id="button" class="button-edit">
</form>