<section class="menu">

  <div class="logo">
    <img src="/img/logo3.png" alt="">
  </div>
<section class="home-section">
  <div class="form-wrapper">
    <h1>Cadastre o seus itens:</h1>
    <form class="form" action="/books/insertbook" method="POST">
      <div class="form-control">
        <label for="title">Nome:</label>
        <input type="text" name="title" placeholder="Título do livro">
      </div>
      <div class="form-control">
        <label for="pageqty">Quantidade de itens por pack:</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?">
      </div>
      <div class="form-control">
        <label for="pageqty">quantidade de packs:</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?">
      </div>
      <input type="submit" value="Cadastrar" id="button" class="button-home">
    </form>
  </div>
</section>
</section>