<section class="menu">
  <div class="logo-frase">
    <div class="logo">
      <img src="/img/logo3.png" alt="">
    </div>
    <div class="frase"> 
      <span class="frase-troca" id="troca-frase">
        palavras são palavras
      </span>
    </div>
  </div>
  <section class="home-section">
    <div class="form-wrapper">
      <h1>Cadastre o seus itens:</h1>
      <form class="form" action="/books/insertbook" method="POST">
        <div class="form-control">
          <label for="item">Nome:</label>
          <input type="text" name="item" placeholder="Título do livro">
        </div>
        <div class="form-control">
          <label for="quantPorPack">Uniudades:</label>
          <input type="number" name="quantPorPack" placeholder="Quantas unidade?">
        </div>
        <div class="form-control">
          <label for="packs">Quantidade de packs:</label>
          <input type="number" name="packs" placeholder="Quantas packs tem?">
        </div>
        <input type="submit" value="Cadastrar" id="button" class="button-home">
      </form>
    </div>
  </section>
</section>
<script src="/js/index.js"></script>