* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-image: url("/img/fundo1.jpg");

}
.frase{
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

.frase-troca{
  color: yellow;
  animation: pulse 2s infinite;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  transform: rotate(-30deg);
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
 
#navbar {
  border-bottom: 1px solid #581d02;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  background-color: #44d302;
  
}
 
#navbar ul {
  display: flex;
  list-style: none;
}
 
#navbar ul li {
  margin-left: 1em;
}
#navbar a{
  text-decoration: none;
  color: rgb(71, 71, 71);
}
 
h1 {
  text-align: center;
  color: white;
  } 
.logo{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}  
.home-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
  
.home-section h1{
   margin-bottom: 1em;
   
} 

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
 
.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
  color: gray;
}
 
.form-control input {
  padding: 5px;
  background-color: #000000;
  border: 2px solid white;
  color: aliceblue;
}
.button-edit{
  width: 100%;
}

#button{
  height: 5vh;
  background-color: rgb(141, 141, 141);
  color: aliceblue;
  border: 2px solid #2c3e50;
  border-bottom: 6px solid #575757;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  
}
.button-home{
  width: 100%;

}
 
/* BOOKS */
.books-container {
  width: 450px;
  margin: 0 auto;
 
}

.books-container a{
  text-decoration: none;
  color: rgb(18, 109, 170);
  
}

.books-container div {
  /* border-bottom: 1px solid #cccccc; */
  padding: 5px;
   margin: 5px; 
  display: flex;
  justify-content: center;
  
}
 
.bold {
  font-weight: bold;
}
 
/* BOOK */

.books-container{
  margin: 0 auto;
  width: 450px;
  margin-top: 20px;
}

.livro-folha{
  width: 100%;
  background-color: rgb(226, 225, 202);
  height: 70%;
  border-radius: 10px;
  border: 10px solid #72381c;
  padding: 10px;
  box-shadow: 10px 10px 1px rgb(0, 0, 0);
  
}

#book-page {
  padding: 2em;
}
#book-page a{
  text-decoration: none;
  color: aliceblue;
  
}

#book-page .container {
  text-align: center;
}

.container{
  margin: 0 auto;
  width: 450px;
}
.container p{
  color: white;
}

.actions {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
 
.actions a {
  /* margin-right: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.actions input{
  width: 100%;
}